@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --custom-bg: #F1E6E2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-transform-none { /* Add the new utility class here */
    text-transform: none; /* Prevent text from being uppercase */
  }

  @font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SFProDisplay-Regular.ttf') format('truetype'); /* Add other font weights/styles as needed */
    font-weight: normal;
    font-style: normal;
  }
  
}
